version: "3.9"

services:
  react-app:
    build: .
    container_name: react-typescript
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
