version: "3.9"

services:
  react-app:
    build: .
    container_name: react-vite
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0